/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Roboto', san-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  font-weight: 400;
  font-size: calc(0.75rem + 0.5vw);
  line-height: 1.5;
}
h1 {
  font-weight: 700;
  font-size: calc(1rem + 6vw);
  line-height: 1.15;
  color: #FFFFFF;
}
h2,
h3 {
  font-weight: 700;
  font-size: calc(1.2rem + 0.5vw);
  color: #222222;
  margin-bottom: calc(1.2rem + 0.5vw);
}
h5 {
  font-weight: 700;
  font-size: calc(0.9rem + 0.5vw);
  line-height: 1.2;
  color: #FFFFFF;
  letter-spacing: 0.05rem;
}
address {
  font-weight: 400;
  font-size: calc(0.6rem + 0.5vw);
  line-height: 1.6;
  color: #FFFFFF;
}
.main-header h2 {
  font-weight: 700;
  font-size: calc(1rem + 0.5vw);
  color: #FFFFFF;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 10% 1rem 10%;
  justify-content: space-around;
  color: #FFFFFF;
  background: #828282;
  position: relative;
  margin-top: calc(2rem + 5vw);
}
@media (max-width:449px) {
  .footer {
    justify-content: flex-start;
    padding: calc(1.2rem + 0.5vw) 10%;
  }
}
.footer .footer-100 {
  width: 100%;
  text-align: center;
}
@media (max-width:449px) {
  .footer .footer-100 {
    text-align: left;
  }
}
.footer .footer-1 {
  margin-bottom: 1rem;
  padding-right: 1rem;
}
@media (max-width: 884px) {
  .footer .footer-1 {
    padding: 0 1rem;
  }
}
@media (max-width:449px) {
  .footer .footer-1 {
    padding: 0;
  }
}
.footer .footer-1 h5 {
  margin-bottom: 0.5rem;
}
.footer .footer-1 input {
  width: 100%;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.footer .addresses {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 400px;
}
@media (max-width:449px) {
  .footer .addresses {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
.footer address {
  margin-bottom: calc(1.2rem + 0.5vw);
}
.footer p {
  font-size: calc(0.4rem + 0.3vw);
  letter-spacing: 0.05rem;
}
.sticky {
  position: fixed;
}
.main-header {
  background-color: #97A4B0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}
.main-header .header-top {
  display: flex;
  justify-content: space-between;
  padding: calc(1.2rem + 0.2vw) 10%;
  align-items: center;
  width: 100%;
}
.main-header .show-nav {
  display: flex;
  visibility: visible;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #97A4B0F2;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  top: 60px;
  padding-top: calc(3rem + 10vw);
}
.main-header .hidden {
  display: none;
}
.main-header .invisible {
  visibility: hidden;
}
.main-header a {
  text-decoration: none;
  color: white;
  font-size: calc(1rem + 6vw);
  font-weight: 700;
  line-height: 1.5;
}
.main-header a:hover {
  color: #555555;
}
.main-header .active {
  color: #222222;
  pointer-events: none;
}
.main-header .active:hover {
  color: #222222;
}
.main-header img {
  height: 21px;
  width: auto;
  cursor: pointer;
}
.main-header h2 {
  margin-bottom: 0;
}
.main-header #hamopen {
  padding-left: 15px;
}
.jumbotron {
  display: flex;
  align-items: flex-end;
  margin-bottom: calc(2rem + 5vw);
}
.jumbotron img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jumbotron .title-text {
  position: absolute;
  z-index: 1;
  padding: 0 0 5% 7%;
}
.jumbo-load {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  width: 100%;
  background: #e2e2e2;
}
.jumbo-load .home-jumbo {
  position: absolute;
  top: 0;
  left: 0;
}
.main {
  width: 85%;
  margin: 0 auto;
}
@media (max-width:549px) {
  .main {
    width: 100%;
  }
}
.cta .cta-content {
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
}
@media (max-width:549px) {
  .cta .cta-content {
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }
}
.cta .cta-content .cta-text {
  padding-right: 4%;
  width: 51.5%;
}
@media (max-width:549px) {
  .cta .cta-content .cta-text {
    padding-right: 0;
    width: 300px;
    margin-top: calc(1.2rem + 0.5vw);
  }
}
.cta .cta-content .cta-text p {
  margin-bottom: calc(1.2rem + 0.5vw);
}
.cta .cta-content .cta-text .button {
  max-width: 110px;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 0 3px #222222;
}
@media (max-width:549px) {
  .cta .cta-content .cta-text .button {
    max-width: 300px;
  }
}
.cta .cta-content img {
  width: 48.5%;
  height: 48.5%;
  min-width: 300px;
  min-height: 300px;
  object-fit: cover;
  object-position: 30%;
}
.cta .reversed img {
  order: -1;
}
@media (max-width:549px) {
  .cta .reversed img {
    order: 1;
  }
}
.cta .reversed .cta-text {
  padding-left: 4%;
}
@media (max-width:549px) {
  .cta .reversed .cta-text {
    padding-left: 0;
  }
}
.recent .recent-content {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(2rem + 5vw);
}
.recent img {
  width: 100%;
  height: auto;
  min-height: 200px;
  object-fit: cover;
  object-position: 25%;
}
@media (max-width:549px) {
  .recent h2 {
    margin-left: 5%;
  }
}
.recent h3 {
  width: 25%;
  min-width: 250px;
  text-align: center;
  padding: 1.5rem 1rem;
  border: 1px solid white;
  background-color: #D8D8D8;
  margin-top: -40px;
  margin-bottom: 0;
  align-self: flex-end;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
@media (max-width:549px) {
  .recent h3 {
    width: 95%;
    margin: -20px auto 0 auto;
  }
}
.recent p {
  width: 40%;
  min-width: 450px;
  margin: calc(1rem + 5vw) auto 0 auto;
  padding-left: 0.5rem;
}
@media (max-width:549px) {
  .recent p {
    width: 95%;
    min-width: 0;
    padding-left: 0;
  }
}
.recent .recent-reversed {
  align-self: flex-start;
}
.services {
  width: 85%;
  margin: 0 auto;
}
.services .tab-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: calc(1.2rem + 0.5vw) 0;
}
@media (max-width:768px) {
  .services .tab-holder {
    width: 100%;
    flex-direction: column;
  }
}
.services .tab-holder .tab {
  width: 20%;
  padding: 1rem 0;
  box-shadow: 0 0 2px black;
  text-align: center;
  margin: calc(1.2rem + 0.5vw) 0;
  min-width: 150px;
  cursor: pointer;
}
.services .tab-holder .tab:hover {
  background: #555555;
  border: 1px solid black;
  color: #FFFFFF;
}
@media (max-width:768px) {
  .services .tab-holder .tab {
    width: 100%;
    margin: 0 0 calc(1.2rem + 0.5vh);
  }
}
.services .tab-holder .selected-tab {
  background: #609FB7;
  color: #FFFFFF;
  border: 1px solid black;
  pointer-events: none;
}
.services .tab-content {
  display: none;
}
.services .tab-content .text-content {
  padding-right: 4%;
  width: 51.5%;
}
@media (max-width:768px) {
  .services .tab-content .text-content {
    padding-right: 0;
    width: 100%;
    margin-bottom: calc(1.2rem + 0.5vw);
  }
}
.services .tab-content img {
  width: 48.5%;
  height: 48.5%;
  min-width: 300px;
  min-height: 300px;
  object-fit: cover;
  object-position: 30%;
}
@media (max-width:768px) {
  .services .tab-content img {
    width: 100%;
    height: 100%;
  }
}
.services .show-content {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}
@media (max-width:768px) {
  .services .show-content {
    flex-direction: column;
  }
}
