.footer {
  display:flex;
  flex-wrap:wrap;
  padding:2rem 10% 0 10%;
  justify-content:space-around;
  color:#FFFFFF;
  background: #828282;

  .footer-100{
    width:100%;
    text-align:center;
  }

  .footer-1 {
    margin-bottom:1rem;

    padding-right:1rem;

    @media (max-width:884px) {
      padding:0 1rem;
    }

    h5 {
      margin-bottom:1rem;
    }
    
    input {
      width:100%;
      padding:0.5rem 0.2rem;
      border-radius:5px;
    }
  }

  .addresses {
    display:flex;
    justify-content:space-between;
    width:50%;
    min-width:400px;
  }

  address {
    margin-bottom:1rem;
  }

  p {
    font-size:10px;
    letter-spacing:0.05rem;
  }
}