@import './reset.less';
@import './footer.less';
@import './header.less';
@import './main.less';

@test: #DFDFDF;
@tablet: ~"(max-width:768px)";
@phone: ~"(max-width:500px)";

p { // GENERAL TEXT
  font-weight:400;
  font-size:16px;
  line-height:24px;
}

h1 { // JUMBOTRON HEADERS
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}

h2, h3 { // SUB HEADERS
  font-weight:700;
  font-size:28px;
  color: #222222;
  margin-bottom:1rem;
}

h5 { // FOOTER HEADINGS
  font-weight: 400;
  font-size:20px;
  line-height:24px;
  color:#FFFFFF;
}

address { // FOOTER TEXT
  font-weight: 400;
  font-size: 14px;
  line-height:26px;
  color: #FFFFFF;
}

.main-header h2 { // S&J
  font-weight: 700;
  font-size: 24px;
  color:#FFFFFF;
}