.main {
  width:85%;
  margin: 0 auto;
}

.cta {
  .cta-content {
    display:flex;
    margin-bottom: 5rem;

    .cta-text {
      padding: 2rem 4% 0 0;
      width: 51.5%;

      p {
        margin-bottom:1rem;
      }

      .button {
        max-width:110px;
        text-align:center;
        padding:1rem 0;
        box-shadow: 0 0 3px #222222;
      }
    }

    img {
      width:48.5%;
      height:48.5%;
      margin:0 auto;
      align-self:center;
    }
  }
  .reversed {
    flex-direction:row-reverse;

    .cta-text {
      padding: 2rem 0 0 4%;
    }
  }
}

.recent {

  .recent-content {
    display:flex;
    flex-direction:column;
  }

  img {
    width:100%;
    height:auto;
  }
  h3 {
    width:250px;
    text-align:center;
    padding: 1.5rem 1rem;
    border:1px solid white;
    background-color:#D8D8D8;
    margin-top:-40px;
    margin-bottom:0;
    align-self:flex-end;
    font-weight:400;
    letter-spacing: 0.3rem;
  }

  p {
    width:450px;
    margin:3rem auto 4rem auto;
  }

  .recent-reversed {
    align-self: flex-start;
  }
}